@import "jquery.editableSelect";

.ui-dialog {
  .close {
    margin: 2px 5px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .modal-header {
    padding: 10px;
  }

  .modal-body {
    padding: 20px 10px;
  }

  .modal-footer {
    padding: 9px 10px 10px;
  }
}

.ui-alert {
  .ui-dialog;
}

body {
  font-family: 'San Fransisco', Arial, 'Microsoft YaHei', sans-serif;
}