@import "../lib/variables";
@import "jquery.editableSelect";
@import "../lib/top-tip";

.m-lr-0 {
  margin-left: 0;
  margin-right: 0;
}

body.topbar {
  padding-top: 81px;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, .5);
}

.ui-dialog {
  .close {
    margin: 2px 5px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .modal-header {
    padding: 10px;
  }

  .modal-body {
    padding: 20px 10px;
  }

  .modal-footer {
    padding: 9px 10px 10px;
  }
}

.ui-alert {
  .ui-dialog;
}

body {
  font-family: 'San Fransisco', Arial, 'Microsoft YaHei', sans-serif;
}

.wide-table-fixed-btns {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 96px;
  z-index: @zindex-dropdown;

  > .btn {
    padding: 0;
    margin-top: 15px;
    height: 80px;
    width: 96px;
  }
}

.navbar-nav > li {
  > .btn-sm {
    margin: 12px 26px 0 0;
  }
}