@import "../lib/variables";

body {
  background: transparent url("../../image/topic/banner-universe.jpg") no-repeat fixed 20% 0;
  background-size: cover;
}

.topic-banner {
  margin-bottom: 15px;
}

.table-topic {
  color: #ffffff;

  > tbody {
    > tr {
      > td {
        border-bottom: 1px dotted rgba(143, 214, 255, 0.3) !important;

        &:nth-child(2) {
          text-align: right;
        }
      }

      &:last-child {
        > td {
          border-bottom: 0 none !important;
        }
      }
    }
  }
}

.panel-topic {
  background-color: rgba(41, 147, 255, .2);
  color: #ffffff;
  border: 1px solid rgba(143, 214, 255, 0.3);

  &.panel-characters {
    background-color: transparent;
    border: 0 none;

    > .panel-heading, > .panel-body, > .panel-footer {
      border-width: 1px;
      border-style: none solid;
      border-color: rgba(69, 156, 223, 0.5);
    }

    > .panel-heading {
      height: 40px;
      overflow: hidden;
      background: transparent url("../../image/topic/panel-characters-bg.png") no-repeat scroll 50% 0;
    }

    > .panel-body {
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgba(0, 0, 0, .8);
    }

    > .panel-footer {
      height: 40px;
      overflow: hidden;
      background: transparent url("../../image/topic/panel-characters-bg.png") no-repeat scroll 50% 100%;
    }
  }

  &.panel-character {
    .panel-body {
      height: 100px;
      overflow: hidden;

      p {
        line-height: 1.6;
        margin: 0 10px 0 0;
        float: left;
        color: @brand-info;
        font-size: 12px;

        &:nth-child(1), &:nth-child(4) {
          float: none;
        }

        &.character-name {
          font-size: 22px;
          color: #ffffff;
        }
      }
    }
  }

  .form-horizontal {
    .form-group:last-child {
      margin-bottom: 0;
    }

    .form-control {
      color: #ffffff;
    }

    .input-group {
      > *, .input-group-btn * {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
      }
      > * {
        border-color: rgba(143, 214, 255, 0.3);
        background-color: rgba(0, 0, 0, .5);
      }
      .input-group-addon {
        background-color: rgba(13, 91, 231, 0.3);
        color: #ffffff;
      }

      #verify_code {
        background-color: rgba(143, 214, 255, 0.3);
      }
    }

    input[type="submit"] {
      border-color: rgba(143, 214, 255, 0.3);
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background-color: rgba(61, 231, 170, 0.5);
    }
  }
}

.message {
  .panel {
    .panel-topic;
  }
}

.navbar-topic {
  background: transparent url("../../image/topic/topic-topbar.png") no-repeat scroll 50% 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 60px;
  min-height: 0;

  .container {
    height: inherit;

    .navbar-header {
      height: inherit;

      .logo {
        text-decoration: none;
        line-height: 60px;
        color: #89d2ff;
        display: inline-block;
        background: transparent url("../../image/topic/logo.png") no-repeat scroll 0 0;
        background-size: auto 60px;
        padding-left: 165px;
        height: inherit;
      }
    }

    .navbar-panel {
      height: inherit;

      > .btn {
        height: inherit;
        background: none;
        border: 0 none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
  }
}

.topic-btn {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 10px;

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;

    b, i {
      color: #ffffff;
      line-height: 1.2;
      display: block;
      white-space: nowrap;
      word-break: keep-all;
      font-style: normal;
    }

    b {
      font-size: 6vw;
      letter-spacing: .2em;
      text-shadow: 0 2px 1px rgba(0, 0, 0, .45);
    }
    i {
      color: #ffffff;
      font-size: 3vw;
      text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
    }
  }

  img {
    width: 100%;
  }

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: transparent url("../../image/topic/hg-btn-yellow.png") no-repeat scroll 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.character-class {
  background-color: transparent;
  background-attachment: scroll;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;

  &.character-class-Humar {
    background-image: url("../../image/topic/class/Humar.png");
  }
  &.character-class-Hunewearl {
    background-image: url("../../image/topic/class/Hunewearl.png");
  }
  &.character-class-Hucast {
    background-image: url("../../image/topic/class/Hucast.png");
  }
  &.character-class-Hucasteal {
    background-image: url("../../image/topic/class/Hucasteal.png");
  }
  &.character-class-Ramar {
    background-image: url("../../image/topic/class/Ramar.png");
  }
  &.character-class-Ramarl {
    background-image: url("../../image/topic/class/Ramarl.png");
  }
  &.character-class-Racast {
    background-image: url("../../image/topic/class/Racast.png");
  }
  &.character-class-Racaseal {
    background-image: url("../../image/topic/class/Racaseal.png");
  }
  &.character-class-Fomar {
    background-image: url("../../image/topic/class/Fomar.png");
  }
  &.character-class-Fomarl {
    background-image: url("../../image/topic/class/Fomarl.png");
  }
  &.character-class-Fonewm {
    background-image: url("../../image/topic/class/Fonewm.png");
  }
  &.character-class-Fonewearl {
    background-image: url("../../image/topic/class/Fonewearl.png");
  }
}

@media (min-width: @screen-sm) {
  .topic-btn {
    .title {
      b {
        font-size: 20px;
      }
      i {
        font-size: 10px;
      }
    }
  }

  .panel-topic {
    &.panel-character {
      margin-bottom: 0;
      .panel-body {
        height: 140px;
        margin: 0;

        p {
          float: none;
        }
      }
    }
    .character-class {
      background-position: 50% 100%;
      -webkit-background-size: auto 120%;
      background-size: auto 120%;
    }
  }
}

@media (min-width: @screen-md) {
  .topic-btn {
    .title {
      b {
        font-size: 25px;
      }
      i {
        font-size: 12.5px;
      }
    }
  }
}

@media (min-width: @screen-lg) {
  .topic-btn {
    .title {
      b {
        font-size: 30px;
      }
      i {
        font-size: 15px;
      }
    }
  }
}